@charset "utf-8";
/* CSS Document */
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
  --color: #FFFEFF;
  --hover: #FFB860;
}




button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #E1795D;
  font-family: 'Roboto', sans-serif;
}
.cabecera{
  background-image:linear-gradient(to bottom,#FCEECF,#FBBC99);
  font-family: 'Raleway', sans-serif;
  border-radius: 16px;
}
.cabeceraweb{
  background-image:linear-gradient(to bottom,#FEF3DB,#FEECDB);
  font-family: 'Raleway', sans-serif;
  color: #00FF00;
}
.navegacionprincipal{
  background-color: #0F0;
  background-image:linear-gradient(to bottom,#FEF3DB,#FEECDB);
  border-radius: 16px;
}
.barraprincipal{
  background-color: #FEECDB;
}
.contenidoprincipal{
  background-image:linear-gradient(to bottom,#FCEECF,#FBBC99);
  background-color: #F03;
  clear: both;
  border-radius: 16px;
}
.pieprincipal{
  background-color: #FBBC99;
  clear: both;
  float: left;
  width: 300%;
  color: white;
  font-family: 'Amatic SC', cursive;
  border-radius: 16px;
}
#imagen1{
  width: 440px;
  height: 200px;
  border-radius: 16px;
}
#imagen2{
  width: 250px;
  height: 180px;
  border-radius: 16px;
}

.body{
  background-color: black;
}
div#contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

h4{
    font-family: 'Roboto', sans-serif;
    color: #B67259;
}
h3{
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 30px #fff;
  color: #B67259;

}
h2{
  font-family: 'Roboto', sans-serif;
  color: #FFB295;
  size: 50px;

}
h5{
  font-family: 'Roboto', sans-serif;
  color: #EA7758;
  size: 50px;

}
input {
    font-size: 1.1em;
    background-color: none;
    border: 2px solid #E9A223;
    border-radius: 5px;
    padding: 8px;
    width: 150px;
    box-shadow: 0 0 20px #F4D731;
  }
body{
  background-image:linear-gradient(to bottom,#F8A06F,#FFB295);
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}
th {
  text-align: left;
}

thead {
  th {
    background-color: #55608f;
  }
}
tbody {
  tr {
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
      }
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
